*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f172a;
color:white;
}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 8%;

background:#111827;

position:sticky;

top:0;

}

.back{

color:white;

text-decoration:none;

font-size:18px;

}

.container{

display:grid;

grid-template-columns:1fr 1fr;

gap:50px;

padding:60px 8%;

}

.image img{

width:100%;

border-radius:18px;

box-shadow:0 20px 40px rgba(0,0,0,.3);

}

.info p{

margin:20px 0;

color:#cbd5e1;

line-height:1.8;

}

.tags{

display:flex;

flex-wrap:wrap;

gap:10px;

margin:20px 0;

}

.tags span{

padding:10px 18px;

background:#2563eb;

border-radius:40px;

}

.buttons{

margin-top:40px;

display:flex;

gap:20px;

}

.btn{

padding:15px 28px;

background:#2563eb;

border-radius:10px;

color:white;

text-decoration:none;

}

.secondary{

background:#334155;

}

.preview{

padding:60px 8%;

}

.preview iframe{

width:100%;

height:700px;

border:none;

border-radius:20px;

background:white;

}

@media(max-width:900px){

.container{

grid-template-columns:1fr;

}

.preview iframe{

height:450px;

}

}